.back_img{
    width: 100%;
    background: linear-gradient(45deg, rgba(0, 54, 240, 1) 5%, rgba(0, 55, 255, 0.8) 100%), url(/images/hero-bg.jpg) center center no-repeat;
    /* background: linear-gradient(45deg, #002ef0 0%, rgba(116, 15, 214, 0.9) 100%), url(/images/hero-bg.jpg) center center no-repeat; */
    background-size: cover;
}