<!DOCTYPE html>
<html>
<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
    #map {
      height: 300px;
      width: 500px;
    }
    html, body {
      height: 100%;
      margin: 0;
      padding: 0;
    }
  </style>
</head>
<body>
  <div id="map"></div>

<script>
//구글맵 API
var map;
function initMap() {
  var location = new Array();
  var location_color = new Array();
  //점
  location.push(new google.maps.LatLng(35.8963091,128.6215978));
  location.push(new google.maps.LatLng(35.8973091,128.6225978));
  location.push(new google.maps.LatLng(35.8953091,128.6235978));
  location.push(new google.maps.LatLng(35.8943091,128.6245978));
  location.push(new google.maps.LatLng(35.8993091,128.6195978));
  location.push(new google.maps.LatLng(35.8953091,128.6185978));
  location.push(new google.maps.LatLng(35.8983091,128.6165978));
  location.push(new google.maps.LatLng(35.8923091,128.6155978));

  //사고 = 빨간색
  //졸음 = 주황색
  //급가속 = 파랑색
  //급감속 = 초록색
  location_color.push("Green");
  location_color.push("red");
  location_color.push("Orange");
  location_color.push("blue");
  location_color.push("Orange");
  location_color.push("blue");
  location_color.push("red");
  location_color.push("Green");

  var mapCanvas = document.getElementById("map");
  var mapOptions = {center: location[0], zoom: 12}; //location[0]을 기준으로 12번 확대
  var map = new google.maps.Map(mapCanvas,mapOptions);

  for(var i in location){
    var myCity = new google.maps.Circle({
      center: location[i],     //점찍는 위치
      radius: 100,          //점크기
      strokeColor: location_color[i],   //점 테두리 색깔
      strokeOpacity: 1,     //점 테두리 밝기
      strokeWeight: 2,      //점 굵기
      fillColor: location_color[i],     //점 색깔
      fillOpacity: 0.5      //점 밝기
    });
    myCity.setMap(map);
  }
}
console.log("AIzaSyBmDNMJ1gbJusi6rqVoskubnytiXP0Rchc");
</script>
  <script src="https://maps.googleapis.com/maps/api/js?key={{env('GCP_API_KEY')}}&callback=initMap&center"
  async defer></script>
</body>
</html>