.drive_score_icon {
    width: 60%;
}

.drive_main_score_p {
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin: 0;
}

.drive_sub_score_p {
    font-size: 24x;
    color: black;
    font-weight: bold;
    margin: 0;
}
.google_map {
    /* margin-left: 15px; */
    margin-top: 15px;
    width: 100%;
    height:320px;
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.google_map_img {
    /* width: 20px; */
}

.google_map_span {
    color: black;
    font-size: 16px;
    margin-top:10px;
    margin-left:3px;
    margin-right: 10px;

}
.chart_card {
    margin-top: 15px;
    padding: 20px;
}
.chart_card_p {
    margin: 0 0 20px 0;
    font-weight: bold;
    color: #4e73df !important;
}

.drive_today_p {
    color: black;
    float: right;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
}

/* .char-area .container {
    padding:0;
} */